

.panel-left {
    margin-left: -30px;
    margin-right: 30px;

}

.panel-right {
    margin-left: -40px;
}
.borderless{
    border: none;
}
.a-pointer {
    cursor: pointer;
}

.list-tree{
    border-right: none;
    border-bottom: none;
    border-top: none;

}
.list-tree span{
    color:#ddd;
    margin-left:-15px ;
}
.panel-body textarea{
    width: 100%;
    height: 60px;

}

.breadcrumb{
    margin-bottom:0;
}

.main{
    padding: 2px;
}

.panel {
    border-radius: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.sidebar {
    padding: 0;
}