{% extends "base.html" %}

{% block title%}
人员管理
{% end %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/fra/user">人员管理</a></li>
    <li class="active">人员列表</li>
</ol>
<a class="btn btn-link" href="/fra/user/add" role="button">新增</a>

<table class="table table-striped table-hover">
    <tr class="success">
        <th> #</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>公司代码</th>
        <th>联系方式</th>
        <th>新建时间</th>
        <th>删除</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ users.index(user)+1 }}</td>
        <td><a href="/fra/user/update?id={{ user.id }}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.company.code }}</td>
        <td>{{ user.tell_phone }}</td>
        <td>{{ user.data }}</td>
        <td><a href="/fra/user/delete?id={{ user.id }}">删除</a></td>
    </tr>
    {% end %}
</table>

{% end %}
