{% extends "base.html" %}

{% block title%}
人员管理
{% end %}


{% block content %}
<ol class="breadcrumb">
    <li><a href="/fra/user">人员管理</a></li>
    <li class="active">新增</li>
</ol>
{% if err  %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{ err }}
</div>
{% end %}
<br>
<form id="companyForm" action="/fra/user/add" method="post" class="form-horizontal">
    {% raw xsrf_form_html() %}
    <div class="form-group">
        <label class="col-lg-2 control-label">用户名 </label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="username" placeholder="用户名"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">密码 </label>
        <div class="col-lg-5">
            <input type="password" class="form-control" name="password" placeholder="密码"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">邮箱 </label>
        <div class="col-lg-5">
            <input type="email" class="form-control" name="email" placeholder="邮箱"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">电话号码 </label>
        <div class="col-lg-5">
            <input type="text" class="form-control" maxlength="11" name="tell_phone" placeholder="电话号码"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">所属公司 </label>
        <div class="col-lg-5">
            <select class="form-control" name="company_id">
                {% for company in companys %}
                    <option value="{{company.id}}">{{company.name}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-5">
            <button class="btn btn-success  btn-block" type="submit">
                <b>新增</b>
            </button>
        </div>
    </div>
</form>
{% end %}
