{% extends "base.html" %}

{% block title%}
视频资源
{% end %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/res">资源管理</a></li>
    <li><a href="/res/video">视频资源</a></li>
    <li class="active">视频资源上传</li>
</ol>
<br>
    <div role="tabpanel" class="tab-pane active" id="image_div">
        <p>视频上传一次最多上传3部，单部视频最大100M</p>
        <input id="video_upload" name="video_file" type="file" multiple class="file-loading">
    </div>
{% end %}

{% block bottom-js %}
    <script src="/static/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/static/plugins/bootstrap-fileinput/js/plugins/canvas-to-blob.js"></script>
    <script src="/static/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var upload_files = [];
            $("#video_upload").fileinput({
                type: 'POST',
                uploadUrl: "/res/video/add", // server upload action
                uploadAsync: true,
                language: 'zh',
                maxFileSize: 100000,
                maxFileCount: 3,
            });
            $('#video_upload').on('fileuploaded', function (event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,response = data.response, reader = data.reader;
                console.log(response);
                upload_files.push(response.uploaded_file_path);
            });
        });
    </script>
{% end %}
